<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://cdn.glitch.com/a131b892-3563-4249-bd6b-5b8f09d6f557%2Ffavicon.ico?v=1580125845578" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express Compilation Project - Analyse</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form_style.css" />
  </head>

  <body>
    <div class="container">
      <form
        enctype="multipart/form-data"
        method="POST"
        action="/api/fileanalyse"
      >
        <input id="file" type="file" name="upfile" />
        <input id="button" type="submit" value="Upload" />
      </form>
    </div>
  </body>
</html>

<style>
  input[type="file"] {
    padding: 2rem;
    font-size: 1.5rem;
    background-color: #444;
  }

</style>
