<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://cdn.glitch.com/a131b892-3563-4249-bd6b-5b8f09d6f557%2Ffavicon.ico?v=1580125845578" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Express Compilation Project - Issue Tracker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form_style.css" />
  </head>

  <body>
    <div class="container">
      <h1>See issues on existing projects or open an issue on a new project</h1>
      <h3>Example projects</h3>
      <p><a href="/issues/testproject2">/issues/&lt;project&gt;</a></p>
      <p><a href="/issues/api">/issues/api</a></p>
      <p><a href="/issues/management-tool">/issues/management-tool</a></p>
    </div>
  </body>
</html>
<style>
  a, a:visited { color: white }
  .container { background-color: #2d2d2d }
</style>